@font-face {
  font-family: "boston-traffic";
  src: url('boston_traffic.ttf');
}
// font-family: 'Orbitron', sans-serif;

$almostBlack: rgb(39, 40, 39);
$gold: rgb(238, 224, 30);
$lightGrey: rgb(175, 175, 175);
$neonPink: rgb(189, 34, 164);
